<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="OAMConfiguration" type="Accela.ACA.OAMAccessGate.OAMConfiguration,Accela.ACA.OAMAccessGate"/>
  </configSections>

  <!--
  ASDKInstallDir - The Access Manager SDK install directory without the "/" or "\" suffix.
      For example: C:\Program Files\NetPoint\AccessServerSDK
  HostIdentifier -  The Host Identifier defined in OAM server to indicates the HTTP resources.
  ChallengeURL - It's should point to the virtual path of the "obrareq.cgi" in OAM server.
      For example: https://oam.denver.gov/oam/server/obrareq.cgi
  -->
  <OAMConfiguration
    ASDKInstallDir="C:\Program Files\NetPoint\AccessServerSDK"
    HostIdentifier="WebGate10g"
    ChallengeURL="https://oam.denver.gov/oam/server/obrareq.cgi"
    RegisterURL=""
    LogoutURL="">

    <!--
    AttributesMapping  -  A mapping table between ACA user and external user in order to synchronize data from the third party server.
                          Administrator needs to configure the "extname" attribute to specify the Response Name of the Authorization Policy.
                          The Authorization Policy and policy Response are defined in Access Manager Console, and the Response Type must be Header.
                          "maxlength" is the maximum length of the fields in Accela Automation database.
                          Notes: Do not to change the name, dbname and maxlength attributes if you do not understand the function of those properties.
    -->
    <AttributesMapping>
      <Attribute name="Email"         dbname="email"         maxlength="80"   extname=""/>
      <Attribute name="FirstName"     dbname="firstName"     maxlength="70"   extname=""/>
      <Attribute name="MiddleName"    dbname="middleName"    maxlength="70"   extname=""/>
      <Attribute name="LastName"      dbname="lastName"      maxlength="70"   extname=""/>
      <Attribute name="Gender"        dbname="gender"        maxlength="1"    extname=""/>
      <Attribute name="Salutation"    dbname="salutation"    maxlength="255"  extname=""/>
      <Attribute name="BirthDate"     dbname="birthDate"     maxlength=""     extname=""/>
      <Attribute name="Address"       dbname="address"       maxlength="200"  extname=""/>
      <Attribute name="Address2"      dbname="address2"      maxlength="200"  extname=""/>
      <Attribute name="City"          dbname="city"          maxlength="30"   extname=""/>
      <Attribute name="State"         dbname="state"         maxlength="30"   extname=""/>
      <Attribute name="Country"       dbname="country"       maxlength="30"   extname=""/>
      <Attribute name="ZIP"           dbname="zip"           maxlength="10"   extname=""/>
      <Attribute name="MobilePhone"   dbname="cellPhone"     maxlength="40"   extname=""/>
      <Attribute name="HomePhone"     dbname="homePhone"     maxlength="40"   extname=""/>
      <Attribute name="WorkPhone"     dbname="workPhone"     maxlength="40"   extname=""/>
      <Attribute name="Fax"           dbname="fax"           maxlength="40"   extname=""/>
      <Attribute name="FEIN"          dbname="fein"          maxlength="16"   extname=""/>
      <Attribute name="SSN"           dbname="maskedSsn"     maxlength="11"   extname=""/>
      <Attribute name="BusinessName"  dbname="businessName"  maxlength="255"  extname=""/>
      <Attribute name="Title"         dbname="userTitle"     maxlength="255"  extname=""/>
      <Attribute name="P.O.Box"       dbname="pobox"         maxlength="30"   extname=""/>
    </AttributesMapping>
  </OAMConfiguration>
</configuration>