.font1px
{
    font-size:0.1em;
}

.font2px
{
    font-size:0.2em;
}

.font3px
{
    font-size:0.3em;
}

.font4px
{
    font-size:0.4em;
}

.font5px
{
    font-size:0.5em;
}

.font6px
{
    font-size:0.6em;
}

.font7px
{
    font-size:0.7em;
}

.font8px
{
    font-size:0.8em;
}

.font9px
{
    font-size:0.9em;
}

.font10px
{
    font-size:1em;
}

.font11px
{
    font-size:1.1em;
}

.font12px
{
    font-size:1.2em;
}

.font13px
{
    font-size:1.3em;
}

.font14px
{
    font-size:1.4em;
}

.font15px
{
    font-size:1.5em;
}

.font16px
{
    font-size:1.6em;
}

.font17px
{
    font-size:1.7em;
}

.font18px
{
    font-size:1.8em;
}

.font19px
{
    font-size:1.9em;
}

.font20px
{
    font-size:2em;
}

.font21px
{
    font-size:2.1em;
}

.font22px
{
    font-size:2.2em;
}

.font23px
{
    font-size:2.3em;
}

.font24px
{
    font-size:2.4em;
}

.fontbold
{
    font-weight:bold;
}