<?xml version="1.0"?>
<paymentAdapter>
    <!--The payment provider URL for Redirect, please replace @HostURL@ with the exact URL.-->
    <add key="HostURL" value="@HostURL@"/>
  
    <!--The AA web service Root URL
      replace the @WebServiceURLRoot@ with the exact value
      e.g.: http://10.50.70.120:13080/av-aca-ws/services/
    -->
    <add key="WebServiceURLRoot" value="@WebServiceURLRoot@"/>
    
    <!--DO NOT change this, it will use to get the mapping parameter in this file: /Config/ParameterMapping.xml-->
    <add key="AdapterName" value="Config"/>
</paymentAdapter>
