
.ACA_Calendar_Prev 
{
	text-align:left;
}
.ACA_MoreItemLeft
{
	display:block;
}

.ACA_RegisterLogin_FontSize
{
    font-size:1.2em;
}

.ACA_MoreItemRight
{
	display:block;
}

 .aca_checkbox label  
 {
     margin-top:2px\9;
 }
