/* Tab, link, button */
/* Common Backcolor And Button And Table Label*/

/* Start Border and BkColor */
/* End Border and BkColor */
/*==============================================================*/
.ACA_ContainerLong
{ 
	margin-bottom: 16px;
	padding-left: 24px;
	width: 56.8em;
}
