<?xml version="1.0"?>
<paymentAdapter>
    <!--The Govolution URL for Redirect,please replace @HostURL@ with the exact URL.e.g.
      Test site: https://demo.velocitypayment.com/vrelay/verify.do
      Live site: https://www.velocitypayment.com/vrelay/verify.do
    -->
    <add key="HostURL" value="@HostURL@"/>
    <!--
    Redirect to Govolution URL parameters,the parameters will be appended to HostURL above.
    Please change the @ApplicationID@ with the correct value which is assigned by Govolution
    -->
    <add key="RedirectURLParameters" value="application_id=@ApplicationID@|message_version=2.2|remittance_id={AATransID}"/>
    <!--The AA web service Root URL-->
    <add key="WebServiceURLRoot" value="http://@BIZ_SERVER@:@BIZ_SERVER_PORT@/av-aca-ws/services/"/>
    <!--Do not change this-->
    <add key="AdapterName" value="Govolution"/>
</paymentAdapter>
