<?xml version="1.0"?>
<paymentAdapter>
    <!--The TPE URL for Redirect,please replace @HostURL@ with the exact URL.e.g.
      UT site: https://stageccp.dev.cdc.nicusa.com/CommonCheckout/CommonCheckPage/Default.aspx
      Product site: https://securecheckout.cdc.nicusa.com/CommonCheckPage/Default.aspx
    -->
    <add key="HostURL" value="@HostURL@"/>
    
    <!--Redirect to TPE URL parameters,the parameters will be appended to HostURL above.-->
    <add key="RedirectURLParameters" value="token={token}"/>
  
    <!--The third party static parameters,the parameters will NOT be appended to HostURL above.
      The key value with 'ThirdPartyStaticParameters' is the default paramter.
      You can use the separate key value with the agency, the format is: ThirdPartyStaticParameters_@Agency@
      Please change the @STATECD@, @SERVICECODE@, @MERCHANTID@, @MERCHANTKEY@ with the correct value which is assigned by TPE.
      UT value: STATECD=TX|SERVICECODE=19999100|MERCHANTID=TXTEST100|MERCHANTKEY=Test
    -->
    <add key="ThirdPartyStaticParameters" value="STATECD=@STATECD@|SERVICECODE=@SERVICECODE@|MERCHANTID=@MERCHANTID@|MERCHANTKEY=@MERCHANTKEY@" />

    <add key="ThirdPartyStaticParameters_Montana" value="STATECD=@STATECD@|SERVICECODE=@SERVICECODE@|MERCHANTID=@MERCHANTID@|MERCHANTKEY=@MERCHANTKEY@" />

    <add key="ThirdPartyStaticParameters_BCB" value="STATECD=@STATECD@|SERVICECODE=@SERVICECODE@|MERCHANTID=@MERCHANTID@|MERCHANTKEY=@MERCHANTKEY@" />

  <!--The AA web service Root URL
      replace the @WebServiceURLRoot@ with the exact value
      e.g.: http://10.50.70.120:13080/av-aca-ws/services/
    -->
    <add key="WebServiceURLRoot" value="@WebServiceURLRoot@"/>
    
    <!--Do not change this-->
    <add key="AdapterName" value="TPE"/>
</paymentAdapter>
