/* Layout */
/* Primary Block Layout */

/* Start ACA Page Header */
/* End ACA Page Header */
/*==============================================================*/
/* ACA Page Left Block CSS */
/* End Page Left Block CSS */
/*==============================================================*/
/* Start HeaderNavigation CSS */
/* End HeaderNavigation CSS */
/*==============================================================*/
/* Start LoginBox Block */
/* End LoginBox Block */
/*==============================================================*/
.ACA_Calendar_Prev 
{
	text-align:left;
}
.ACA_MoreItemLeft
{
	display:block;
}
.ACA_MoreItemRight
{
	display:block;
}
