<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Accela.ACA.RealMeAccessGate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--The value of LoginUrlTarget can be config as below value:
        Self: Renders the content in the frame with focus;
        Blank: Renders the content in a new window without frames;
        Parent: Renders the content in the immediate frameset parent;
        Top: Renders the content in the full window without frames.
        https://data.eat.business.govt.nz/services/RealMe?wsdl
        
    -->
    <add key="LoginUrlTarget" value="Top"/>
    <add key="IsReturnUserName" value="Y"/><!--for test-->
  </appSettings>
  <applicationSettings>
    <Accela.ACA.RealMeAccessGate.Properties.Settings>
      <setting name="Accela_ACA_RealMeAccessGate_RealMeService_RealMe"
        serializeAs="String">
        <value>http://joy-duan.achievo.com/RealMe.asmx</value>
      </setting>
    </Accela.ACA.RealMeAccessGate.Properties.Settings>
  </applicationSettings>
</configuration>