<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="DefaultPageFile" value="Default.aspx"/>
    <!--- AMCA - This is for Agency Page Branding. -->
    <add key="AgencyLogoLocation" value="AMCA/img/AccelaLogo4.png"/>
    <add key="AgencyLogoHeightAdj" value="27px"/>
    <add key="AgencyLogoWidthAdj" value="96px"/>
    <add key="AgencyLogoName" value=""/>
    <add key="AgencyCopyrightName" value="2002-2014 Accela Inc. All Rights Reserved. "/>
    <add key="AccelaApplicationName" value="Mobile Citizen Access"/>
    <add key="AccelaApplicationIcon" value="img/apple-touch-icon.png"/>
    <!--- Contractor Access Region-->
    <add key="TokenKey2" value="C0062D9665EB4AA78B10E1B87D781F87"/>
    <!-- AMCA - Search result page settings     -->
    <add key="SearchRecordsPerPage" value="5"/>
    <add key="DebugMode" value="0"/>
  </appSettings>
</configuration>
