/* Layout */
/* Primary Block Layout */

.ACA_RegisterLogin_FontSize
{
    font-size: 1.2em;
}

 .aca_checkbox label  
 {
     margin-top:2px\9;
 }
 
 .asi_ddl_width
 {
     width:11.8em;
     margin-bottom:1px;
 }
