<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <object id="IAdminConfigurationPreview_Admin" type="Accela.ACA.AdminBLL.AdminConfigurationPreview, Accela.ACA.AdminBLL" singleton="true" ></object>
  <object id="IAdminConfigurationSave_Admin" type="Accela.ACA.AdminBLL.AdminConfigurationSave, Accela.ACA.AdminBLL" singleton="true" ></object>
  
  <object id="IBizDomainBll_Admin" type="Accela.ACA.AdminBLL.AdminBizDomainBll, Accela.ACA.AdminBLL" singleton="true" ></object>
  <object id="ICacheManager_Admin" type="Accela.ACA.BLL.Common.CacheManager, Accela.ACA.BLL" singleton="true" ></object>

  <object id="IAccountBll_Admin" type="Accela.ACA.BLL.Account.AccountBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ISSOBll_Admin" type="Accela.ACA.BLL.Account.SSOBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ITrustAccountBll_Admin" type="Accela.ACA.BLL.Account.TrustAccountBll, Accela.ACA.BLL" singleton="true" ></object>

  <object id="IAPOBll_Admin" type="Accela.ACA.BLL.APO.APOBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IOwnerBll_Admin" type="Accela.ACA.BLL.APO.OwnerBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IParcelBll_Admin" type="Accela.ACA.BLL.APO.ParcelBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IRefAddressBll_Admin" type="Accela.ACA.BLL.APO.RefAddressBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IAddressBll_Admin" type="Accela.ACA.BLL.APO.AddressBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ITemplateBll_Admin" type="Accela.ACA.BLL.APO.TemplateBll, Accela.ACA.BLL" singleton="true" ></object>

  <object id="IEDMSDocumentBll_Admin" type="Accela.ACA.BLL.Attachment.EDMSDocumentBll, Accela.ACA.BLL" singleton="true" ></object>

  <object id="IAppSpecificInfoBll_Admin" type="Accela.ACA.BLL.Cap.AppSpecificInfoBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ICapBll_Admin" type="Accela.ACA.AdminBLL.AdminCapBll, Accela.ACA.AdminBLL" singleton="true" ></object>
  <object id="ICapTypeBll_Admin" type="Accela.ACA.AdminBLL.AdminCapTypeBll, Accela.ACA.AdminBLL" singleton="true" ></object>

  <object id="IServerConstantBll_Admin" type="Accela.ACA.BLL.Common.ServerConstantBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IServiceProviderBll_Admin" type="Accela.ACA.BLL.Common.ServiceProviderBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IServiceManagementBll_Admin" type="Accela.ACA.AdminBLL.AdminServiceManagementBll, Accela.ACA.AdminBLL" singleton="true" ></object>
  <object id="ITimeZoneBll_Admin" type="Accela.ACA.BLL.Common.TimeZoneBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ITransactionLogBll_Admin" type="Accela.ACA.BLL.Common.TransactionLogBll, Accela.ACA.BLL" singleton="true" ></object>

  <object id="ICashierBll_Admin" type="Accela.ACA.BLL.Finance.CashierBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IFeeBll_Admin" type="Accela.ACA.AdminBLL.AdminFeeBll, Accela.ACA.AdminBLL" singleton="true" ></object>
  <object id="IOnlinePaymenBll_Admin" type="Accela.ACA.BLL.Finance.OnlinePaymenBll, Accela.ACA.BLL" singleton="true" ></object>

  <object id="ICalendarBll_Admin" type="Accela.ACA.BLL.Inspection.CalendarBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IInspectionBll_Admin" type="Accela.ACA.BLL.Inspection.InspectionBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IInspectionTypeBll_Admin" type="Accela.ACA.BLL.Inspection.InspectionTypeBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IInspectionTypePermissionBll_Admin" type="Accela.ACA.BLL.Inspection.InspectionTypePermissionBll, Accela.ACA.BLL" singleton="true" ></object>

  <object id="ILicenseBLL_Admin" type="Accela.ACA.BLL.People.LicenseBLL, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IPeopleBll_Admin" type="Accela.ACA.BLL.People.PeopleBll, Accela.ACA.BLL" singleton="true" ></object>

  <object id="IPlanBll_Admin" type="Accela.ACA.BLL.Plan.PlanBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IUploadAttachmentBll_Admin" type="Accela.ACA.BLL.Plan.UploadAttachmentBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IReportBll_Admin" type="Accela.ACA.AdminBLL.ReportAdminBll, Accela.ACA.AdminBLL" singleton="true" ></object>
  <object id="IViewBll_Admin" type="Accela.ACA.BLL.View.ViewBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IWorkflowBll_Admin" type="Accela.ACA.BLL.WorkFlow.WorkflowBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IAdminBll_Admin" type="Accela.ACA.AdminBLL.AdminBll, Accela.ACA.AdminBLL" singleton="true" ></object>
  <object id="IPageflowBll_Admin" type="Accela.ACA.AdminBLL.AdminPageflowBll, Accela.ACA.AdminBLL" singleton="true" ></object>
  <object id="ICapTypeFilterBll_Admin" type="Accela.ACA.AdminBLL.AdminCapTypeFilterBll, Accela.ACA.AdminBLL" singleton="true" ></object>
  <object id="IPolicyBLL_Admin" type="Accela.ACA.AdminBLL.AdminPolicyBLL, Accela.ACA.AdminBLL" singleton="true" ></object>
  <object id="IXPolicyBll_Admin" type="Accela.ACA.AdminBLL.XPolicyAdminBll, Accela.ACA.AdminBLL" singleton="true" ></object>
  <object id="IXPolicyWrapper_Admin" type="Accela.ACA.AdminBLL.XPolicyWrapper, Accela.ACA.AdminBLL" singleton="false" ></object>
  <object id="IXEntityPermissionBll_Admin" type="Accela.ACA.AdminBLL.XEntityPermissionBll, Accela.ACA.AdminBLL" singleton="true" ></object>

  <object id="IAdminCapTypePermissionBll_Admin" type="Accela.ACA.AdminBLL.AdminCapTypePermissionBll, Accela.ACA.AdminBLL" singleton="true" ></object>
  <object id="IGviewBll_Admin" type="Accela.ACA.AdminBLL.AdminGviewBll, Accela.ACA.AdminBLL" singleton="true" ></object>
  <object id="IACAInitBll" type="Accela.ACA.AdminBLL.ACAInitAdminBll, Accela.ACA.AdminBLL" singleton="true" ></object>
</objects>