<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <object id="IBizDomainBll" type="Accela.ACA.BLL.Common.BizDomainBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ICacheManager" type="Accela.ACA.BLL.Common.CacheManager, Accela.ACA.BLL" singleton="true" ></object>

  <object id="IAuthAdapter" type="Accela.ACA.BLL.Account.InternalAuthAdapter,Accela.ACA.BLL" singleton="true" ></object>
  <!--<object id="IAuthAdapter" type="Accela.ACA.OAMAccessGate.OAMAuthAdapter, Accela.ACA.OAMAccessGate" singleton="true" ></object>-->

  <object id="IAccountBll" type="Accela.ACA.BLL.Account.AccountBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ISSOBll" type="Accela.ACA.BLL.Account.SSOBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ITrustAccountBll" type="Accela.ACA.BLL.Account.TrustAccountBll, Accela.ACA.BLL" singleton="true" ></object>

  <object id="IAPOBll" type="Accela.ACA.BLL.APO.APOBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IOwnerBll" type="Accela.ACA.BLL.APO.OwnerBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IParcelBll" type="Accela.ACA.BLL.APO.ParcelBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IRefAddressBll" type="Accela.ACA.BLL.APO.RefAddressBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IAddressBll" type="Accela.ACA.BLL.APO.AddressBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ITemplateBll" type="Accela.ACA.BLL.APO.TemplateBll, Accela.ACA.BLL" singleton="true" ></object>

  <object id="IEDMSDocumentBll" type="Accela.ACA.BLL.Attachment.EDMSDocumentBll, Accela.ACA.BLL" singleton="true" ></object>

  <object id="IAppSpecificInfoBll" type="Accela.ACA.BLL.Cap.AppSpecificInfoBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ICapBll" type="Accela.ACA.BLL.Cap.CapBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ICapTypeBll" type="Accela.ACA.BLL.Cap.CapTypeBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IExpressionBll" type="Accela.ACA.BLL.Cap.ExpressionBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IConditionBll" type="Accela.ACA.BLL.Cap.ConditionBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ICustomComponentBll" type="Accela.ACA.BLL.CustomComponent.CustomComponentBll, Accela.ACA.BLL" singleton="true" ></object>

  <object id="IServerConstantBll" type="Accela.ACA.BLL.Common.ServerConstantBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IServiceProviderBll" type="Accela.ACA.BLL.Common.ServiceProviderBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IServiceManagementBll" type="Accela.ACA.BLL.Common.ServiceManagementBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ITimeZoneBll" type="Accela.ACA.BLL.Common.TimeZoneBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ITransactionLogBll" type="Accela.ACA.BLL.Common.TransactionLogBll, Accela.ACA.BLL" singleton="true" ></object>

  <object id="ICashierBll" type="Accela.ACA.BLL.Finance.CashierBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IFeeBll" type="Accela.ACA.BLL.Finance.FeeBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IOnlinePaymenBll" type="Accela.ACA.BLL.Finance.OnlinePaymenBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ICommonPaymentBll" type="Accela.ACA.BLL.Finance.CommonPaymentBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IOnlinePaymentAuditTrailBll" type="Accela.ACA.BLL.Finance.OnlinePaymentAuditTrailBll, Accela.ACA.BLL" singleton="true" ></object>

  <object id="ICalendarBll" type="Accela.ACA.BLL.Inspection.CalendarBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IInspectionBll" type="Accela.ACA.BLL.Inspection.InspectionBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IInspectionTypeBll" type="Accela.ACA.BLL.Inspection.InspectionTypeBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IInspectionPermissionBll" type="Accela.ACA.BLL.Inspection.InspectionPermissionBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IInspectionTypePermissionBll" type="Accela.ACA.BLL.Inspection.InspectionTypePermissionBll, Accela.ACA.BLL" singleton="true" ></object>

  <object id="ILicenseBLL" type="Accela.ACA.BLL.People.LicenseBLL, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IPeopleBll" type="Accela.ACA.BLL.People.PeopleBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ILicenseProfessionalBll" type="Accela.ACA.BLL.People.LicenseProfessionalBll, Accela.ACA.BLL" singleton="true" ></object>

  <object id="IAdminBll" type="Accela.ACA.AdminBLL.AdminBll, Accela.ACA.AdminBLL" singleton="true" ></object>

  <object id="IPlanBll" type="Accela.ACA.BLL.Plan.PlanBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IUploadAttachmentBll" type="Accela.ACA.BLL.Plan.UploadAttachmentBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IReportBll" type="Accela.ACA.BLL.Report.ReportBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IViewBll" type="Accela.ACA.BLL.View.ViewBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IWorkflowBll" type="Accela.ACA.BLL.WorkFlow.WorkflowBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ICapTypeFilterBll" type="Accela.ACA.BLL.CapTypeFilterBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IPageflowBll" type="Accela.ACA.BLL.Cap.PageflowBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IASITableDrillDownBLL" type="Accela.ACA.BLL.Cap.ASITableDrillDownBLL, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IEMSEBll" type="Accela.ACA.BLL.EMSE.EMSEBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IPolicyBLL" type="Accela.ACA.BLL.Common.PolicyBLL, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IXPolicyBll" type="Accela.ACA.BLL.Common.XPolicyBLL, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IXEntityPermissionBll" type="Accela.ACA.BLL.Common.XEntityPermissionBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ILogoBll" type="Accela.ACA.BLL.Common.LogoBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ILicensingValidationBll" type="Accela.ACA.BLL.Common.LicensingValidationBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IShoppingCartBll" type="Accela.ACA.BLL.ShoppingCart.ShoppingCartBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IMyCollectionBll" type="Accela.ACA.BLL.MyCollection.MyCollectionBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IPaymentBll" type="Accela.ACA.BLL.Finance.PaymentBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ILicenseCertificationBll" type="Accela.ACA.BLL.LicenseCertification.LicenseCertificationBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IEducationBll" type="Accela.ACA.BLL.LicenseCertification.EducationBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IProviderBll" type="Accela.ACA.BLL.LicenseCertification.ProviderBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IContinuingEducationBll" type="Accela.ACA.BLL.LicenseCertification.ContinuingEducationBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IRefExaminationBll" type="Accela.ACA.BLL.LicenseCertification.RefExaminationBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IRefContinuingEducationBll" type="Accela.ACA.BLL.LicenseCertification.RefContinuingEducationBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IRefEducationBll" type="Accela.ACA.BLL.LicenseCertification.RefEducationBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IExaminationBll" type="Accela.ACA.BLL.LicenseCertification.ExaminationBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="II18nSettingsBll" type="Accela.ACA.BLL.Common.I18nSettingsBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ISpellCheckBll" type="Accela.ACA.BLL.SpellCheckBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ICapTypePermissionBll" type="Accela.ACA.BLL.CapTypePermissionBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IValuationCalculatorBll" type="Accela.ACA.BLL.Finance.ValuationCalculatorBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IGlobalSearchBll" type="Accela.ACA.BLL.GlobalSearch.GlobalSearchBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IGviewBll" type="Accela.ACA.BLL.Common.GviewBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IProxyUserBll" type="Accela.ACA.BLL.ProxyUser.ProxyUserBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IUserRoleBll" type="Accela.ACA.BLL.Common.UserRoleBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IProxyUserRoleBll" type="Accela.ACA.BLL.Common.ProxyUserRoleBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IAnnouncementBll" type="Accela.ACA.BLL.Announcement.AnnouncementBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IAddressBuilderBll" type="Accela.ACA.BLL.AddressBuilder.AddressBuilderBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="ISocialMediaBll" type="Accela.ACA.BLL.SocialMedia.SocialMediaBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IRegionalBll" type="Accela.ACA.BLL.Common.RegionalBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IDeepLinkBLL" type="Accela.ACA.BLL.Common.DeepLinkBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IAssetBll" type="Accela.ACA.BLL.Asset.AssetBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IDataFilterBll" type="Accela.ACA.BLL.Common.DataFilterBll, Accela.ACA.BLL" singleton="true" ></object>
  <object id="IACASSOContext" type="Accela.ACA.Web.Authentication.ACASSOContext, Accela.ACA.Web" singleton="true" ></object>
</objects>