<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <object id="ICommonData" type="Accela.ACA.Web.CommonData, Accela.ACA.Web" singleton="true" ></object>
  <object id="IACASession" type="Accela.ACA.Web.Common.DailySession, Accela.ACA.Web" singleton="true" ></object>
  <object id="IACASession_Admin" type="Accela.ACA.Web.Common.AdminSession, Accela.ACA.Web" singleton="true" ></object>
  <object id="IBizdomainProvider" type="Accela.ACA.Web.Common.BizdomainProvider, Accela.ACA.Web" singleton="true" ></object>
  <object id="IXPolicyProvider" type="Accela.ACA.Web.Common.XPolicyProvider, Accela.ACA.Web" singleton="true" ></object>
  <object id="II18nSettingsProvider" type="Accela.ACA.Web.Common.I18nSettingsProvider, Accela.ACA.Web" singleton="true" ></object>
</objects>