<?xml version="1.0"?>
<!--
Notes: Remeber to restart the web application if you changed this configuration file.
-->
<configuration>
  <configSections>
    <section name="LdapConfiguration" type="Accela.ACA.Common.Config.LdapConfiguration,Accela.ACA.Common"/>
  </configSections>
  
  <!--
  ServerUrl – the URL with the scheme and port number of the LDAP server. For example:  LDAP://ldap.dnvr.gov:389 or LDAPS://ldap.dnvr.gov:636

  BaseDN – The base DN for the user searching. It's the user's parent container. For example: cn=External,cn=Users,dc=dnvr,dc=com

  SearchScope - the search depth of the user searching, only include the following values:
    Base      - Search the base only
    OneLevel  - Search the base and one level of sub trees
    Subtree   - Search the base and all sub trees

  UserFilterString - Configure the filter pattern for the user searching.
                     The filter pattern must have a placeholder named $$UserID$$ to match the user ID.
                     For example: (&(cn=$$UserID$$)(objectClass=person)), the $$UserID$$ will be replaced with the actual user ID.
                     Notes: Use "&amp;" to replace the "&" character in the UserFilterString.

  BindUser – A Windows account name or a distinguished name used to bind to the LDAP server before any LDAP operation;
              The Authentication user must has permission for the user searching. For example: alan.hu or cn=admin,dc=dnvr,dc=com.

  BindPassword - Password of BindUser.

  CertificatePath – The full file path of the x509 certificate. The certificate used to create the encrypted connection with LDAP server (LDAPS).
                     We recommend placing the certificate into ACA root folder, because administrator need to set the folder permission to allow
                     the host account (In IIS6 and IIS7, the default account is Network Service) of ACA web application to read the folder if
                     the certificate file is placed in other folder.
  -->
  <LdapConfiguration
    ServerUrl="LDAP://ldap.example.com:389"
    BaseDN="OU=users,DC=example,DC=com"
    SearchScope="Subtree"
    UserFilterString="(&amp;(uid=$$UserID$$)(objectClass=person))"
    BindUser="CN=admin,DC=example,DC=com"
    BindPassword=""
    CertificatePath="">

    <!--
    AttributesMapping  -  A mapping table between ACA user and external user in order to synchronize data from the third party server.
                          Administrator needs to configure the "extname" attribute to specify the corresponding attribute name in the third party server.
                          "maxlength" is the maximum length of the fields in Accela Automation database.
                          Notes: Do not to change the name, dbname and maxlength attributes if you do not understand the function of those properties.
    -->
    <AttributesMapping>
      <Attribute name="Email"         dbname="email"         maxlength="80"   extname="mail"/>
      <Attribute name="FirstName"     dbname="firstName"     maxlength="70"   extname="givenName"/>
      <Attribute name="MiddleName"    dbname="middleName"    maxlength="70"   extname=""/>
      <Attribute name="LastName"      dbname="lastName"      maxlength="70"   extname="sn"/>
      <Attribute name="Gender"        dbname="gender"        maxlength="1"    extname=""/>
      <Attribute name="Salutation"    dbname="salutation"    maxlength="255"  extname=""/>
      <Attribute name="BirthDate"     dbname="birthDate"     maxlength=""     extname=""/>
      <Attribute name="Address"       dbname="address"       maxlength="200"  extname=""/>
      <Attribute name="Address2"      dbname="address2"      maxlength="200"  extname=""/>
      <Attribute name="City"          dbname="city"          maxlength="30"   extname=""/>
      <Attribute name="State"         dbname="state"         maxlength="30"   extname=""/>
      <Attribute name="Country"       dbname="country"       maxlength="30"   extname=""/>
      <Attribute name="ZIP"           dbname="zip"           maxlength="10"   extname=""/>
      <Attribute name="MobilePhone"   dbname="cellPhone"     maxlength="40"   extname=""/>
      <Attribute name="HomePhone"     dbname="homePhone"     maxlength="40"   extname=""/>
      <Attribute name="WorkPhone"     dbname="workPhone"     maxlength="40"   extname="telephoneNumber"/>
      <Attribute name="Fax"           dbname="fax"           maxlength="40"   extname=""/>
      <Attribute name="FEIN"          dbname="fein"          maxlength="16"   extname=""/>
      <Attribute name="SSN"           dbname="maskedSsn"     maxlength="11"   extname=""/>
      <Attribute name="BusinessName"  dbname="businessName"  maxlength="255"  extname=""/>
      <Attribute name="Title"         dbname="userTitle"     maxlength="255"  extname=""/>
      <Attribute name="P.O.Box"       dbname="pobox"         maxlength="30"   extname=""/>
    </AttributesMapping>
  </LdapConfiguration>
</configuration>