<?xml version="1.0" encoding="utf-8" ?>
<!--
Notes: Remeber to restart the web application if you changed this configuration file.
-->
<configuration>
  <!--
  e.g.: <APIConfigs defaultAPI="default" defaultTimeout="300" defaultEncoding="utf-8">
  DefaultTimeout(Optional)  - default timeout. If it not set, it uses 300(in seconds) by default.
  defaultEncoding(Optional) - default encoding. If it not set, it uses utf-8 by default.
  -->
  <APIConfigs defaultAPI="default" defaultTimeout="@DefaultTimeout@" defaultEncoding="@DefaultEncoding@">
    
    <!--
    APIConfig  -  A Rest API configuration.
                  Format: <APIConfig name="@RestAPIConfigName@" url="@RestAPIURL@" version="@Version@" timeout="@TimeOut@" encoding="@Encoding@"/>
                  e.g.:   <APIConfig name="Account" url="http://acapc1.achievo.com:3080" version="v4" timeout="100" encoding="utf-8" />
                  name(Require)       - API Config Name. 
                                        If the RestAPI class name equal the API config name, the API configuration will be used. Otherwise, use default API configuration.
                  url(Require)        - Rest API url.
                  version(Optional)   - Rest API version.
                  timeout(Optional)   - Rest API timeout. If it not set, it uses the defaultTimeout that set in APIConfigs node.
                  encoding(Optional)  - Rest API encoding. If it not set, it uses the defaultEncoding that set in APIConfigs node.                  
    -->
    
    <APIConfig name="default" url="@RestAPIURL@" version="@Version@"/>
  </APIConfigs>
</configuration>