<?xml version="1.0" encoding="utf-8" ?>
<!--
/*
* config section description.
* id : service type.(require)
* type : type of handler assembly.(require)
* url : redirect path.(optional)
* params : some param for this http handler.(optional)
*/
-->
<HttpHandlerConfigSection>
  <HttpHandlerConfigObject id="1000" type="Accela.ACA.Web.Handlers.UrlRoutingForCapDetailHandler, Accela.ACA.Web" url="~/cap/CapDetail.aspx" />
  <HttpHandlerConfigObject id="1001" type="Accela.ACA.Web.Handlers.FileHandler, Accela.ACA.Web" params="download" />
  <HttpHandlerConfigObject id="1002" type="Accela.ACA.Web.Handlers.UrlRoutingHandler, Accela.ACA.Web" url="~/cap/CapApplyDisclaimer.aspx" />
  <HttpHandlerConfigObject id="1003" type="Accela.ACA.Web.Handlers.MultipleRecordsCreationHandler, Accela.ACA.Web" />
  <HttpHandlerConfigObject id="1004" type="Accela.ACA.Web.Handlers.UrlRoutingHandler, Accela.ACA.Web" url="~/cap/CapHome.aspx"/>

  <!--Resume Application:  
  e.g: http://{ACASite}/urlrouting.ashx?type=1005&agencyCode={agencyCode}&capID1={id1}&capID2={id2}&capID3={id3}&culture={culture}
  -->
  <HttpHandlerConfigObject id="1005" type="Accela.ACA.Web.Handlers.UrlRoutingForResumeHandler, Accela.ACA.Web" url="~/Cap/CapEdit.aspx?permitType=resume&amp;agencyCode={0}&amp;Module={1}&amp;capID1={2}&amp;capID2={3}&amp;capID3={4}&amp;isFeeEstimator={5}&amp;FilterName={6}&amp;stepNumber=2&amp;pageNumber=1"/>
  
  <!--Renew
  e.g: http://{ACASite}/urlrouting.ashx?type=1006&agencyCode={agencyCode}&capID1={id1}&capID2={id2}&capID3={id3}&culture={culture}
  -->
  <HttpHandlerConfigObject id="1006" type="Accela.ACA.Web.Handlers.UrlRoutingForRenewalHandler, Accela.ACA.Web" url="~/Cap/CapEdit.aspx?permitType=renewal&amp;Module={0}&amp;FilterName={1}&amp;isFeeEstimator={2}&amp;stepNumber=2&amp;pageNumber=1&amp;isRenewal=Y"/>
  
  <!--Request a Trade License
  e.g: http://{ACASite}/urlrouting.ashx?type=1007&agencyCode={agencyCode}&capID1={id1}&capID2={id2}&capID3={id3}&culture={culture}
  -->
  <HttpHandlerConfigObject id="1007" type="Accela.ACA.Web.Handlers.UrlRoutingForRequestTradeLicenceHandler, Accela.ACA.Web" url="~/Cap/CapType.aspx?Module={0}&amp;licenseNumber={1}&amp;licenseType={2}&amp;FilterName=TRADELICENSE&amp;stepNumber=1"/>

  <!--Amendment
  e.g: http://{ACASite}/urlrouting.ashx?type=1008&agencyCode={agencyCode}&capID1={id1}&capID2={id2}&capID3={id3}&culture={culture} -->
  -->
  <HttpHandlerConfigObject id="1008" type="Accela.ACA.Web.Handlers.UrlRoutingForAmendmentHandler, Accela.ACA.Web" url="~/Cap/CapType.aspx?agencyCode={0}&amp;Module={1}&amp;parentCapModelID={2}&amp;trackingID={3}&amp;filterName={4}&amp;createdBy={5}&amp;stepNumber=0"/>
  
  <!--Pay Fee Due :  
  e.g: http://{ACASite}/urlrouting.ashx?type=1009&agencyCode={agencyCode}&capID1={id1}&capID2={id2}&capID3={id3}&culture={culture} 
  -->
  <HttpHandlerConfigObject id="1009" type="Accela.ACA.Web.Handlers.UrlRoutingForPayFeeDueHandler, Accela.ACA.Web" url="~/Cap/CapFees.aspx?permitType=PayFees&amp;agencyCode={0}&amp;Module={1}&amp;capID1={2}&amp;capID2={3}&amp;capID3={4}&amp;stepNumber=0&amp;isPay4ExistingCap=Y"/>
  
  <!--Pay Fee Due for renewal: 
  e.g: http://{ACASite}/urlrouting.ashx?type=1010&agencyCode={agencyCode}&capID1={id1}&capID2={id2}&capID3={id3}&culture={culture}
  -->
  <HttpHandlerConfigObject id="1010" type="Accela.ACA.Web.Handlers.UrlRoutingForPayFeeDueofRenewalHandler, Accela.ACA.Web" url="~/Cap/CapFees.aspx?permitType=PayFees&amp;agencyCodeParam={0}&amp;Module={1}&amp;capID1={2}&amp;capID2={3}&amp;capID3={4}&amp;stepNumber=0&amp;isPay4ExistingCap=Y&amp;isRenewal=Y"/>
  
</HttpHandlerConfigSection>