<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <object id="IAccelaControlRender" type="Accela.Web.Controls.DailyRender, Accela.Web.Controls" singleton="true" ></object>
  <object id="IAccelaControlRender_Admin" type="Accela.Web.Controls.AdminRender, Accela.Web.Controls" singleton="true" ></object>
  <object id="ILabelConvertor" type="Accela.ACA.Web.Common.ControlLabelConvertor, Accela.ACA.Web" singleton="true" ></object>
  <object id="ILabelConvertor_Admin" type="Accela.ACA.Web.Common.ControlLabelConvertor, Accela.ACA.Web" singleton="true" ></object>
</objects>